[submodule "vendor/go-wallet-sdk"]
	path = vendor/go-wallet-sdk
	url = https://github.com/status-im/go-wallet-sdk.git
	branch = compile_c_lib
[submodule "vendor/logos-liblogos"]
	path = vendor/logos-liblogos
	url = git@github.com:logos-co/logos-liblogos.git
[submodule "vendor/logos-cpp-sdk"]
	path = vendor/logos-cpp-sdk
	url = git@github.com:logos-co/logos-cpp-sdk.git
